.user__nav {
  background-color: var(--color-grey-0);
  padding: 14px;
}

.user__nav h3 {
  letter-spacing: 1px;
  font-weight: 540;
  font-size: 1.2rem;
}

.user__nav h5 {
  font-weight: 530;
  margin-left: 6px;
  margin-bottom: -4px;
  margin-top: 6px;
  letter-spacing: 1px;
}
