.ord__delivered h4,
.ord__returned h4 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.ord__returned h4 span {
  font-size: 1.1rem;
  color: rgb(126, 123, 123);
}

.ord__delivered p,
.ord__returned p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 540;
  margin-bottom: 18px;
}

.ord__ship__to p:nth-child(1),
.ord__pikeup__to p:nth-child(1) {
  margin-bottom: 6px;
  color: rgb(131, 131, 131);
}

.ord__ship__to h4 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 22px;
}

.ord__pikeup__to h4 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.ord__pikeup__to ul {
  list-style: none;
  padding-left: 14px;
  margin-bottom: 22px;
}

.ord__ship__p__details h5 {
  font-weight: lighter;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.ord__ship__p__details .ord__price {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.ord__ship__p__details p {
  margin-bottom: 8px;
  font-size: 1.1rem;
  font-weight: 300;
}

.ord__ship__p__details p span {
  display: inline-block;
  margin-left: 6px;
  font-size: 1.2rem;
  font-weight: 700;
}

.ord__ship__p__details div {
  margin-top: 40px;
  background-color: rgb(245, 246, 247);
  padding: 12px 14px;
}

.ord__return__refund h4 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 550;
}

.ord__return__refund .refund {
  padding-bottom: 6px;
  padding-top: 6px;
  border-bottom: 1px solid rgba(170, 169, 169, 0.822);
  border-top: 1px solid rgba(170, 169, 169, 0.822);
}
