.ord__payment {
  margin-top: 70px;
  min-width: 360px;
}

.ord__id {
  background-color: rgb(229, 232, 235);
  padding: 14px 16px;
}

.ord__id h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.ord__id p,
span {
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.ord__payment__details {
  padding: 14px 16px;
  border: 1px solid rgb(167, 167, 167);
}

.ord__total__last {
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(139, 139, 139);
}

.ord__payment__details h4 {
  font-size: 1.2rem;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.payment__mode h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.ord__shipped__add {
  padding: 14px 16px;
}

.ord__shipped__add h5 {
  font-size: 1.1rem;
  padding-top: 10px;
  margin-bottom: 10px;
}

.ord__shipped__add ul li {
  list-style: none;
  margin-bottom: 6px;
  font-size: 0.9rem;
}
.ord__shipped__add ul li h6 {
  font-size: 1.1rem;
  font-weight: 500;
}
