.pp {
  margin-top: 50px;
}

.pp__container {
  width: 90%;
  margin: auto;
}

.pp__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pp__flex__box {
  flex-basis: 32.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  border: 2px solid rgba(143, 143, 143, 0.644);
  margin-bottom: 20px;
  background-color: #fff;
}

.pp__card__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.pp__card__product {
  flex-basis: 48%;
}

.pp__flex__card {
  padding: 10px;
}

.pp__flex__card span {
  position: relative;
  left: 86%;
  bottom: 50px;
  color: #fff;
  background-color: rgb(29, 88, 165);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 26px 12px 10px;
  cursor: pointer;
}

.pp__product__container {
  border: 1px solid black;
}

.pp__img img {
  width: 100%;
}
