.product {
  margin-top: 50px;
}
.container {
  width: 90%;
  margin: auto;
}
.product h2 {
  margin-bottom: 20px;
}
.product__flex {
  display: flex;
  flex-wrap: wrap;
}
.product__flex__box {
  flex-basis: 20%;
}
.product__img {
  padding: 10px 20px;
  position: relative;
}
.product__img img {
  width: 100%;
}
.product__love__icon {
  display: block;
  position: absolute;
  top: 20px;
  right: 40px;
}

.product__text {
  margin-top: 10px;
  text-align: center;
}

.product__text h5 {
  font-size: 1.4rem;
}

.product__text p {
  font-size: 1.2rem;
}
.product__rating,
.product__price {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.product__price {
  margin-top: 10px;
}
