.slider {
  margin-top: 50px;
}

.container {
  width: 90%;
  margin: auto;
}

.slider__bg__img {
  /* width: 100%;
  background-image: url("./../../assets/slider/slider-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  position: relative;
}

.slider__bg__img img {
  height: 60vh;
  width: 100%;
  border-radius: 8px;
}
.slider__text__container {
  width: 60%;
  position: absolute;
  top: 25%;
  left: 40px;
}

.slider__text__container span {
  background-color: rgba(67, 165, 182, 0.904);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.slider__text__container h2 {
  margin-bottom: 10px;
}

.slider__text__container p {
  margin-bottom: 30px;
}

.slider__text__container button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 100px;
}
