.product__category {
  margin-top: 50px;
}

.container {
  width: 90%;
  margin: auto;
}

.product__category__flex {
  display: flex;
  gap: 20px;
}

.product__category__flex__box {
  flex-basis: 25%;
}
.product__category__img div {
  display: inline-block;
  position: relative;
  bottom: 45px;
  color: #fff;
  width: 100%;
}

.product__category__img div span {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.product__category__img img {
  width: 100%;
  height: auto;
}

.product__category__text p {
  margin-top: -15px;
}

.product__category__text button {
  background-color: green;
  border: none;
  color: #fff;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  margin-top: 5px;
  float: right;
  width: 100%;
}
