.header {
  position: relative;
  width: 100%;
}

.header__bg__img {
  /* background-image: ; */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.397),
      rgba(0, 0, 0, 0.527)
    ),
    url("../../assets/header/heaser__bg__img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 1;
}

.header__content {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  width: 80%;
  color: white; /* Ensure text is visible on dark background */
  z-index: 2;
}

.header__content div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
